/*
#1F2937 - Dark Background Color (Header and Footer)

Hero Main text ("this website is awesome")
48px, extra-bold, #F9FAF8

Hero secondary text
18px, #E5E7EB - 

Header Logo Text 
24px, #F9FAF8
-----
Button color, call to action bg
#3882F6

information header text
36px, extra-bold, #1F2937

Quote section background color
#E5E7EB

Quote text
36px, light italic, #1F2937
*/

body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100vh;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    padding:0px;
}

.header{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}
.logo{
    font-size:24px;
    color:#F9FAF8;
    flex:1;
}
ul{
    display:flex;
    gap:50px;
    list-style-type: none;
    color:white;
    margin:0px;
    padding:0px;
}