/*
#1F2937 - Dark Background Color (Header and Footer)

Hero Main text ("this website is awesome")
48px, extra-bold, #F9FAF8

Hero secondary text
18px, #E5E7EB - 

Header Logo Text 
24px, #F9FAF8
-----
Button color, call to action bg
#3882F6

information header text
36px, extra-bold, #1F2937

Quote section background color
#E5E7EB

Quote text
36px, light italic, #1F2937
*/

body{
    display:flex;
    flex-direction:column;
    /*justify-content:space-between;*/
    height:100vh;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    padding:0px; 
}

.header, .footer{
    background-color: #1F2937;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}
.logo{
    font-size:24px;
    color:#F9FAF8;
    flex:1;
}
ul{
    display:flex;
    gap:50px;
    list-style-type: none;
    color:white;
    margin:0px;
    padding:0px;
}

.header a{
    text-decoration: none;
    color:white;
    
}

/*Section 1*/

.section1{
    margin:0px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
}

.section1 h1{
    font-size:48px; 
    font-weight:extra-bold;
    color: #F9FAF8;
}
.section1 p{
    font-size:18px;
    color:#E5E7EB;
}
.section1 button{
    background-color: #3882F6;
    color:white;
    font-size:14px;
    font-weight:bold;
    border-radius:10px;
    width:8vw;
    border:none;
    padding:10px;
}

.picture{
    border-radius:10px;
    width: 20vw;
}

/*Section 2*/
.section2{
    text-align: center;
    display:flex;
    flex-direction: column;
}
.section2 h1{
    font-size:36px;
    font-weight:900;
    color:#1F2937;
}
.section2 img{
    width:150px;
    height:150px;
    margin: 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: #3882F6;
    object-fit: cover;
    overflow:hidden;
}

.card-container{
    display:flex;
    justify-content: center;
    text-align: center;
    gap:10px;
}


/*Footer*/
.footer{
    margin-top: auto;
}